{{!-- Sub-Navigation --}}
<div class="col-md-2 sub-navigation-sidebar">
  <ul class="list-unstyled github-navigation">
    <li class="sub-title">Github</li>
    <li><a target="_BLANK" href="https://github.com/addepar/ember-table"><i class="icon-github"></i> View on GitHub</a></li>
    <li><a target="_BLANK" href="https://github.com/Addepar/ember-table/issues">Issues</a></li>
    <li><iframe src="http://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-table&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Ember Table</li>
    <li>{{#linkTo 'emberTable.overview'}}Overview &amp; Getting Started{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.documentation'}}API &amp; Documentation{{/linkTo}}</li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Examples</li>
    <li>{{#linkTo 'emberTable.simple'}}Simple Table{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.ajax'}}Table with AJAX cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.bars'}}Table cells with bars{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.charts'}}Table cells with D3 charts{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.dynamic-bar'}}Table cells with Dynamic Bars{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.financial'}}Tree &amp; Financial Table{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.editable'}}Editable Table Cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.sparkline'}}Sparkline{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.horizon'}}Horizon{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.fluid'}}Fluid{{/linkTo}}</li>
  </ul>
</div>
