{{!-- Content Column --}}
<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Editable</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{addepar-table
            hasHeader=true
            hasFooter=false
            numFixedColumns=0
            rowHeight=35
            columnsBinding="columns"
            contentBinding="content"
          }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 bumper-30">
      <h3>Editable_table_cell.hbs</h3>
      <div class="highlight">
<pre class="prettyprint lang-html">&#123;&#123;#if view.isEditing&#125;&#125;
  &#123;&#123;view view.innerTextField&#125;&#125;
&#123;&#123;else&#125;&#125;
  <span class='content'>&#123;&#123;view.cellContent&#125;&#125;</span>
&#123;&#123;/if&#125;&#125;
</pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="highlight">
<pre class="prettyprint lang-coffee">App.TableEditableExample = Ember.Namespace.create()

App.TableEditableExample.EditableTableCell = Ember.Table.TableCell.extend
  className: 'editable-table-cell'
  templateName: 'ember_table/editable_table/editable_table_cell'
  isEditing:  no
  type:       'text'

  innerTextField: Ember.TextField.extend
    typeBinding:  'parentView.type'
    valueBinding: 'parentView.cellContent'
    didInsertElement: -> @$().focus()
    blur: (event) ->
      @set 'parentView.isEditing', no

  onRowContentDidChange: Ember.observer ->
    @set 'isEditing', no
  , 'rowContent'

  click: (event) ->
    @set 'isEditing', yes
    event.stopPropagation()

App.TableEditableExample.DatePickerTableCell =
App.TableEditableExample.EditableTableCell.extend
  type: 'date'

App.TableEditableExample.RatingTableCell = Ember.Table.TableCell.extend
  classNames: 'rating-table-cell'
  templateName: 'ember_table/rating_table_cell'
  didInsertElement: ->
    @_super()
    @onRowContentDidChange()
  applyRating: (rating) ->
    @$('.rating span').removeClass('active')
    span   = @$('.rating span').get(rating)
    $(span).addClass('active')
  click: (event) ->
    rating = @$('.rating span').index(event.target)
    return if rating is -1
    @get('column').setCellContent(@get('rowContent'), rating)
    @applyRating(rating)
  onRowContentDidChange: Ember.observer ->
    @applyRating @get('cellContent')
  , 'cellContent'</pre>
    </div>
  </div>
</div>
