<div class="ember-table-cell-container">
  <div class="ember-table-header-content-container" {{action sortByColumn view.content}}>
    <span class="ember-table-content">
      {{view.content.headerCellName}}
    </span>
  </div>
</div>