{{!-- addepar-navbar --}}
<nav class="navbar navbar-transparent addepar-navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img id="logo_dark" class="logo" src="img/addepar_logo_light.png" /><span class="navbar-title">Open Source</span>
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Ember Table</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

{{!-- Index Hero --}}
<div class="hero-container small-hero-container">
  <div class="hero table-hero">
    <div class="hero-overlay"></div>
  </div>
  {{!-- <div class="container hero-content-container">
    <div class="row">
      <div class="span12 hero-tagline center-align hidden-tablet">
        <h1 class="elevated">Ember Charts</h1>
        <p class="elevated">The sexiest charts you have ever seen.<br><br><a href="#" class="addepar-btn addepar-btn-large addepar-btn-outline addepar-btn-white">Download Ember-charts.js</a></p>
      </div>
    </div>
  </div> --}}
</div>

{{!-- Main Container --}}
<div class="container">
  <div class="row">

    {{!-- Sub-Navigation --}}
    <div class="col-md-2 sub-navigation-sidebar">
      <ul class="list-unstyled github-navigation">
        <li class="sub-title">Github</li>
        <li><a target="_BLANK" href="https://github.com/addepar/ember-table"><i class="icon-github"></i> View on GitHub</a></li>
        <li><a target="_BLANK" href="https://github.com/Addepar/ember-table/issues">Issues</a></li>
        <li><iframe src="http://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-table&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>
      </ul>
      <hr>
      <ul class="list-unstyled project-navigation">
        <li class="sub-title">Ember Table</li>
        <li>{{#linkTo 'index'}}Overview &amp; Getting Started{{/linkTo}}</li>
        <li>{{#linkTo 'documentation'}}API &amp; Documentation{{/linkTo}}</li>
      </ul>
      <hr>
      <ul class="list-unstyled project-navigation">
        <li>{{#linkTo 'index'}}Time Series Chart{{/linkTo}}</li>
        <li><a href="./../tests/index.html">QUnit Tests</a></li>
        <li><a href="./table_ajax">Table Ajax</a></li>
        <li><a href="./table_editable">Table Editable</a></li>
        <li><a href="./table_fluid">Table Fluid</a></li>
        <li><a href="./table_simple">Table Simple</a></li>
        <li><a href="./table_with_bar">Table With Bar</a></li>
        <li><a href="./table_with_dynamic_bar">Table With Dynamic Bar</a></li>
        <li><a href="./table_with_header">Table With Header</a></li>
        <li><a href="./table_with_horizon">Table With Horizon</a></li>
        <li><a href="./table_with_sparkline">Table With Sparkline</a></li>
        <li><a href="./table_with_tree_view">Table With Tree View</a></li>
        <li><a href="./table_with_financial_view">Table With Financial View</a></li>
      </ul>
    </div>

    {{outlet}}
  </div>
</div>

{{!-- Footer --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-6">
        <ul class="list-unstyled">
          <li><h6>Ember table</h6></li>
          <li>{{#linkTo 'index'}}Overview &amp; Getting Started{{/linkTo}}</li>
          <li>{{#linkTo 'documentation'}}API &amp; Documentation{{/linkTo}}</li>

          <li class="sub-title">Examples</li>
          <li>{{#linkTo 'index'}}Time Series{{/linkTo}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Open Source</h6></li>
          <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
          <li>{{#linkTo 'license'}}License{{/linkTo}}</li>
          <li>
            <address>
              <br><br>
              <a target="_BLANK" href="http://goo.gl/maps/446ui"><strong>Addepar HQ</strong><br>
              1215 Terra Bella Ave<br>
              Mountain View, CA 94043</a><br><br>

              <a target="_BLANK" href="http://goo.gl/maps/xEiCM"><strong>Addepar NY</strong><br>
              335 Madison Ave Suite 880<br>
              New York, NY 10017</a><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-align">
        <p>&copy; 2013 Addepar, Inc.</p>
      </div>
    </div>
  </div>
</div>
