{{!-- addepar-navbar --}}
<nav class="navbar navbar-transparent addepar-navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img id="logo_dark" class="logo" src="img/addepar_logo_light.png" /><span class="navbar-title">Open Source</span>
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Ember charts</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

{{!-- License Hero --}}
<div class="hero-container small-hero-container">
  <div class="hero index-hero">
    <div class="hero-overlay"></div>
  </div>
</div>

{{!-- Legal --}}
<div class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 section-title">
        <h1>Code &amp; Documentation Licensing</h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p>The majority of open source software exclusively developed by Addepar is licensed under the liberal terms of the Apache License, Version 2.0. The documentation is generally available under the Creative Commons Attribution 3.0 Unported License. In the end, you are free to use, modify and distribute any documentation, source code or examples within our open source projects as long as you adhere to the licensing conditions present within the projects.</p>
        <p>Also note that our engineers like to hack on their own open source projects in their free time. For code provided by our engineers outside of our official repositories on GitHub, Addepar does not grant any type of license, whether express or implied, to such code.</p>
     </div>
    </div>
  </div>
</div>
