{{!-- To add shadow main-content-container-shadow --}}
<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table API</h1>
  <h2>Derp Options</h2>
  <table class="table ember-charts-options">
    <tr>
      <th>Option</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>barData</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
